<%- include('../partials/header.ejs') %>

<header>
    <h1>Here are some activities</h1>
</header>
<main>
    <section class="detail">

        <% activity_Listings.forEach( each_Activity => { %>

        <div class="activities" >
            <h3 ><%= each_Activity.activity %></h3>
            <p >Number of participants:<%= each_Activity.participants %></p>
            <p >Cost: <%= each_Activity.price %></p>
            <p >Accessibility level: <%= each_Activity.accessibility %></p>

            
                    <form action="/user-saves" method="POST" >
                        <input type="hidden" name="activity" value="<%= each_Activity.activity %>">
                        <input type="hidden" name="accessibility" value="<%= each_Activity.accessibility %>">
                        <input type="hidden" name="type" value="<%= each_Activity.type %>">
                        <input type="hidden" name="price" value="<%= each_Activity.price %>">
                        <input type="hidden" name="participants" value="<%= each_Activity.participants %>">
                        <input type="hidden" name="key" value="<%= each_Activity.key %>">
                        <input type="submit" class="save" value="Save Activity">
                    </form>
        </div>


        <% }) %>

    </section>


</main>