<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail Page</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <header>
        <h1>Here are some activities</h1>
    </header>
    <main>
        <section class="activities">
          

              <% activity_Listings.forEach( each_Activity => { %>

                <div>
                     <h3><%= each_Activity.activity %></h3>
                     <p>Number of participants:<%= each_Activity.participants %></p>
                     <p>Cost: <%= each_Activity.price %></p>
                     <p>Accessibility level: <%= each_Activity.accessibility %></p>
                </div>
              <% }) %>
          </section>
    </main>
</body>
</html>